#texting-style {
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 24px;
  font-size: 10px;
  text-decoration-line: none;
  color: white;
}

.playBtn {
  display: none;
  margin-top: 7px;
  padding-left: 5px;
}
.playBtn1 {
  display:none;
  margin-top: 7px;
  padding-left: 1070px;
  
}
.playBtn2 {
  display: none;
  margin-top: 7px;
  padding-left: 1000px;
}

li {
  color: #ffe5e5;
  margin-right: 50px;
  font-size: 10px;
}

#release {
  color: #ffe5e5;
  padding-left: 75px;
  margin-top: -110px;
  width: fixed;
  height: fixed;
  position: fixed;
}
#mainDiv {
  width: 100%;
  height: fixed;
  position: fixed;
}
.musicList {
  padding-top: 60px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Add vertical scrollbar */
  max-height: 200px;
  width: 100%;
}
#main {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}
#play {
  margin-right: 20px;
}

#main:hover {
  background: rgba(255, 255, 255, 0.5);
}

.playBtn:hover {
  cursor: pointer;
}
.playBtn1:hover {
  cursor: pointer;
}
.playBtn2:hover {
  cursor: pointer;
}

.A{
  margin-right:10px;
}
.B{
  margin-left:5px;
}
.C{
  margin-left:10px ;
}


#main:hover .playBtn {
  display: block;
}
#main:hover .playBtn1{
  display: block;
}
#main:hover .playBtn2{
  display: block;
}

.btnContainer {
  width: 40px;
}
.btnContainer2 {
  width: 40px;
}
.btnContainer {
  position: relative;
  display: inline-block;
}
.btnContainer2 {
  position: relative;
  display: inline-block;
}
.btnContainer .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px;
  position: absolute;
  -index: 1;
  bottom: 100%;
  left:1150px;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.btnContainer2 .tooltiptext1 {
  visibility: hidden;
  width: 50px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px;
  position: absolute;
  -index: 1;
  bottom: 100%;
  left:1100px;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.btnContainer:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.btnContainer2:hover .tooltiptext1 {
  visibility: visible;
  opacity: 1;
}


