#playlist {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#logo {
  padding-top: 0.5cm;
}
#profile {
  max-width: 20%;
  max-height: calc(100% - 40px);
  margin-left: 1000px;
  border-radius: 15px;
  margin-top: -4cm;
}
#text {
  color: #fff !important;
  margin-left: 2cm;
}
#text1 {
  color: #fff !important;
  margin-left: 2cm;
}
#Footer {
    margin-left: 1120px;
    margin-top: 260px;
    
  }