#playlist {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#playListTopSection {
  flex: 2.5;
  position: relative;
  padding-left: 3rem;
}

#bottomPlayListSection {
  flex: 3;
  position: relative;
  padding-right: 3rem;
}

#logo {
  padding-top: 0.5cm;
}
#profile {
  position: absolute;
  right: 40px;
  top: 40px;
  max-width: 25%;
  max-height: calc(100% - 40px);
  border-radius: 0.25rem !important;
}
#text {
  margin: 0px;
  color: #fff !important;
  font-size: 18px;
  margin-bottom: 0.5rem;
}
#text1 {
  margin: 0px;
  color: #fff !important;
  font-size: 12px;
}
#releaseDateText{
  font-size: 9px;
  color: #6c757d !important;
  margin-top: 5px;
}
#footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
#instgram{
  margin-right:4px;
}
#facebook{
  margin-right:4px;
}
#youtube{
  margin-right:4px;
}
#twiter{
  margin-right:4px;
}
#follow{
margin-bottom: 25px;
padding-left:1150px;
bottom: 0;
right: 0;

}